.header {
  background-color: #deeefc;
  color:  #003153;
  display: flex;
  justify-content: center;
  position: relative;
  font-weight: 600;

 
}
.headerDescm{
  display: flex;
  align-items: center;
  width: 100%;
  
}
.headerDescImg{
  width: 50%;
  
}
.headerDescText{
  width: 50%;
}
.headerDescImgg{
  width: 350px;
  height: 350px;
  max-width: 350px;
}
.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 0px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
 height: 0;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  color:  #333333;
}

.headerListItem.active {
  border: 0px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #000133;
  color:  #EDEDED;
  font-weight: 500;

  padding: 10px;
  cursor: pointer;
}

.headerSearch {
  height: 40px;
  background-color: white;
  
  border: 3px solid darkblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1020px;
  min-width: 300px;
}

.headerIcon {
  color: gray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;  
}

.headerSearchText {
  color: rgb(38, 38, 38);
  cursor: pointer;
  font-size: 13px;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;

}

.options {
  position: absolute;
  top: 50px;
  color: gray;
  border-radius: 5px;
background-color: white;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  background-color: white;
  border-color: #0071c2;
  border-radius: 4px;
  cursor: pointer;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
@media (min-width: 300px) and (max-width: 768px) {
  
  
.headerSearch {
width: 100%;
}
}
@media only screen and (min-width: 768px) {
  .mail{
    width: 80%;

    
  }
}
