.footer{
  width: 100%;
  font-size: 12px;
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.fList{
  list-style: none;
  padding: 0;
}

.fListItem{
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}
.fText{
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding-bottom:10px;
  font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 300px) and (max-width: 768px) {
  .fLists{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    
  }
  .footer{
    width: 100%;
 
    
  }
}
@media only screen and (min-width: 768px) {
  .footer{
    width: 100%;

    
  }
}