.mail{
  width: 100%;
  width: 1024px;
  margin-top: 50px;
  background-color: #f8bddb;
  color: #2F2E41;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.mailInputContainer>input{
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

.mailInputContainer>button{
  height: 50px;
  background-color: #a11458;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
  .mail{
    width: 100%;
   
    
  }
  
} */


@media (min-width: 300px) and (max-width: 768px) {
  
  .mail{
    width: 80%;
 
    
  }
}
@media only screen and (min-width: 768px) {
  .mail{
    width: 92%;

    
  }
}